<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 2024 - Constructors Championship</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styleCOnstructors.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/searchStyle.css">
</head>
<body>
    <header>
        <h1 class="page-title">Drivers' Championship</h1>
        <h2 class="page-subtitle">2024 World Championship</h2>
    </header>

    <form class="searchh">
        <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input type="search" class="search-input" id="search-input" placeholder="Search">
        </div>
    </form>

    <div class="results" id="results"></div>

    <div class="loading"></div>

    <script src="/js/search.js"></script>

    <div class="container">
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Driver</th>
                        <th>Team</th>
                        <th>Points</th>
                        <th>Wins</th>
                        <th>Pole Positions</th>
                        <th>Starts</th>
                    </tr>
                </thead>
                <tbody id="drivers-body">
                    <tr>
                        <td>1</td>
                        <td class="driver-cell">
                            <div class="driver-info">
                                <img src="https://e0.365dm.com/f1/drivers/256x256/h_full_1465.png" alt="Verstappen" class="driver-avatar">
                                <span>Max Verstappen</span>
                            </div>
                        </td>
                        <td>Red Bull</td>
                        <td class="points">395</td>
                        <td>14</td>
                        <td>12</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="driver-cell">
                            <div class="driver-info">
                                <img src="https://www.kymillman.com/wp-content/uploads/f1/pages/driver-profiles/driver-faces/lando-norris-f1-driver-profile-picture.png" alt="Norris" class="driver-avatar">
                                <span>Lando Norris</span>
                            </div>
                        </td>
                        <td>McLaren</td>
                        <td class="points">285</td>
                        <td>2</td>
                        <td>7</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="driver-cell">
                            <div class="driver-info">
                                <img src="https://www.formulaonehistory.com/wp-content/uploads/2023/10/Charles-Leclerc-F1-2023.webp" alt="Leclerc" class="driver-avatar">
                                <span>Charles Leclerc</span>
                            </div>
                        </td>
                        <td>Ferrari</td>
                        <td class="points">252</td>
                        <td>2</td>
                        <td>5</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="driver-cell">
                            <div class="driver-info">
                                <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/rpm/players/full/4472.png" alt="Perez" class="driver-avatar">
                                <span>Sergio Perez</span>
                            </div>
                        </td>
                        <td>Red Bull</td>
                        <td class="points">229</td>
                        <td>2</td>
                        <td>2</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="driver-cell">
                            <div class="driver-info">
                                <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/rpm/players/full/5752.png&w=350&h=254" alt="Piastri" class="driver-avatar">
                                <span>Oscar Piastri</span>
                            </div>
                        </td>
                        <td>McLaren</td>
                        <td class="points">197</td>
                        <td>1</td>
                        <td>2</td>
                        <td>22</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="padd">
        <h1></h1>
        <hr>
    </div>
</body>

<script src="/js/drivers.js"></script>
</html>