<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://cdn.boxicons.com/3.0.6/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/driversPageStyle.css">
</head>
<body>  
    <div class="profile-card">
        <div class="image">
            <img src="https://www.kymillman.com/wp-content/uploads/f1/pages/driver-profiles/driver-faces/lando-norris-f1-driver-profile-picture.png" alt="" class="profile-img">
        </div>

        <div class="text-data">
            <span class="name">Lando Norris</span>
            <span class="group">McLaren</span>
        </div>
    </div>
</body>
</html>