<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://cdn.boxicons.com/3.0.6/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/driversPageStyle.css">
</head>
<body>  
    <div class="profile-card">
        <div class="image">
            <img src="https://e0.365dm.com/f1/drivers/256x256/h_full_1465.png" alt="" class="profile-img">
        </div>

        <div class="text-data">
            <span class="name">Max Verstappen</span>
            <span class="group">Red Bull</span>
        </div>
    </div>
</body>
</html>