@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inspiration&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

h1 {
    font-family: 'Inspiration', sans-serif;
    font-size: 50px;
    margin-bottom: 100px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #E10600;
    padding: 3px;
    margin-bottom: 15px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#clock {
    color: #000;
    font-size: 4rem; /* Large font size */
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #4070f4; 
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container {
    max-width: 500px;
    text-align: center;
    margin: 80px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    margin: 20px 0 10px;
    font-size: 32px;
}

h3 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #555;
}

p {
    color: #333;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background: black;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    transition: .3s;
}

.btn:hover {
    background: #333;
}
