@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
}

.image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.proofile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name {
    font-size: 16px;
    font-weight: 500;
}

.text-data .job {
    font-size: 16px;
    font-weight: 400;
}

.profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 24px;
    width: 24px;
    margin: 0 8px;
    background-color: #4267b2;
    border-radius: 50%;
    text-decoration: none;
}

.profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.buttons .button {
    background-color: #4070f4;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.buttons .button:hover {
    background-color: #0e4bf1;
}

